<div id="narrower-terms" class="terms-container"></div>

<script type="text/javascript" src="/sites/default/modules/taxonomy_tree/js/tree.js"></script>
<script type="text/javascript">
  insertTerms('narrower-terms', {{ nid }});
</script>
